@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: "Lucida Sans", sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    position: relative;
}

.styled_scrollbar::-webkit-scrollbar {
    width: 10px;
}

.styled_scrollbar::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: rgba(173, 173, 173, 0.2);
}

.styled_scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(173, 173, 173);
    border-radius: 20px;
}

.MuiSwitch-track {
    background: #7f7f7f !important;
}

.anim {
    transition: all 0.5s;
    opacity: 0;
}

.anim-active {
    transform: translateX(0);
    transition: all 1s;
    opacity: 1;
}